<div class="row" *ngFor="let slidez of projects; let index=index">
<h2 id = "a{{index}}"> </h2>
<a name="a_{{index}}"></a>
	 <div  class="col-md-12">	
            <img [src]="slidez.image" style="margin:auto; width:100%">
            <div class="carousel-caption">
              <h3 style="background-color: transparent;color: white;">Slide {{index + 1}}</h3>
              <p  style="background-color: transparent;color: white;">{{slidez.text}}</p>
        <!-- Further content here -->
        

              	<div class="row button" [class.selected]="project === selectedProject" (click)="onSelect(project)" >
						CHCĘ WIĘCEJ ({{mode}})
			  	</div>
			  	<div class="error" *ngIf="errorMessage">{{errorMessage}}
			  	</div>
		    </div>
		  	<!--<div *ngIf="selectedProject">
		  		<h2>
		   		 {{selectedProject.title | uppercase}} is my project
		  		</h2>
			</div>-->	 
	 </div>
	 <div class="row button" (click)="isVisible = !isVisible">
						otworz
	 </div>
	 <div class="test" style="width:20%; height:20%; background-color:red" [@visibilityChanged]="isVisible">
	 <div class="row button" (click)="isVisible = !isVisible">
						Zamknij
			  	</div>
	 </div>
</div>
<div class="carousel-indicators-container .container">
<ul class="carousel-indicators"> 
         <li *ngFor="let slidez of projects; let index=index" [class.selected]="slidez === selectedProject" (click)="onSelect(slidez)">
         	  <a pageScroll [pageScrollEasing]="myEasing" href="#a{{index}}" id="customEasingButton"  >	 o </a>
         </li>
</ul>
</div>