boto==2.42.0
Collectfast==0.2.3
dj-database-url==0.4.1
Django==1.10.2
django-cors-headers==1.2.2
django-storages==1.5.1
djangorestframework==3.4.7
gunicorn==19.6.0
numpy==1.11.0
Pillow==3.4.1
psycopg2==2.6.1
python-dateutil==2.5.3
pytz==2016.7
six==1.10.0
virtualenv==15.0.3
whitenoise==3.2.2
